@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a51cc;
  --secondary-color: #3474e6;
  --light-color: #fff;
  --dark-color: #001;
  --gray-clr: #2d2d2d;
  --green-clr: #2ad482;
  --greenshade-clr: #55dd9b;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);

  --transition-5s: all 0.5s ease;
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 5px rgba(42, 212, 130, 0.3); */
}

body {
  font-family: "Lora", serif;
  font-size: 1.8rem;
  color: var(--light-color);
  background-color: var(--gray-clr);
  line-height: 1.6;
}

a {
  color: var(--light-color);
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;
  border-radius: 0.4rem;
  display: inline-block;
}
/* .btn {
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
  transition: var(--transition-5s);
  color: var(--light-color);
  background-color: var(--green-clr);
}

.btn:hover {
  background-color: var(--greenshade-clr);
} */

.container {
  max-width: 100rem;
  margin: 3rem auto;
  padding: 0 4rem;
  overflow: hidden;
}

.primary-heading {
  font-family: "Lobster", cursive;
  font-size: 7.5rem;
  text-align: center;
  margin-top: 3rem;

  color: transparent;
  background: url(./images/animal-4.jpg);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-content {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 2px solid var(--green-clr);
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
  transition: var(--transition-5s);
  color: var(--green-clr);
  background-color: transparent;
  text-transform: capitalize;
}

.btn-active,
.btn:hover {
  background-color: var(--green-clr);
  color: var(--light-color);
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 1rem 3rem;
}
.title {
  font-size: 2.4rem;
  color: var(--green-clr);
  margin-top: 4rem;
  text-transform: capitalize;
}
.gallery-img {
  height: 20.7rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
